* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
    font-size: 15px;
  }
  html {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  body {
    margin: 0px;
    padding: 0px;
  }
  .layar-dalam {
    width: 1000px;
    margin: auto;
  }
  .layar-penuh {
    width: 100%;
  }
  nav {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: fixed;
    border-bottom: 1px solid #b1b1b1;
    line-height: 60px;
    width: 100%;
    transition: background-color 0.5s ease;
  }
  nav.putih {
    background-color: #fff;
  }
  nav .logo {
    float: left;
    position: relative;
    line-height: 55px;
    text-align: center;
  }
  nav .logo img {
    vertical-align: middle;
    width: 120px;
  }
  
  nav .menu {
    float: right;
    height: 60px;
    max-width: 600px;
  }
  
  nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav .menu ul li {
    list-style-type: none;
    float: left;
    line-height: 60px;
  }
  
  nav ul li a {
    color: #fff;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
  }
  
  nav ul li a:hover {
    text-decoration: underline;
  }
  
  /* pengaturan header */
  header {
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  header video {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -2;
  }
  header .intro {
    z-index: 100;
    color: #fff;
    text-align: center;
    position: relative;
    top: 50%;
  }
  header .intro h3 {
    font-size: 50px;
    margin: 0;
    padding: 0;
  }
  .tombol {
    background-color: #c86b85;
    height: 40px;
    line-height: 42px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0px 20px 0px 20px;
    font-size: 15px;
    border-radius: 4px;
  }
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 50%;
    z-index: -1;
  }
  .tombol-menu {
    position: absolute;
    top: 1.7rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
  }
  .tombol-menu .garis {
    height: 3px;
    background-color: #fff;
  }

  section {
    padding: 50px 0px 50px 0px;
  }
  section h3 {
    font-size: 30px;
    text-align: center;
  }
  section h3::after {
    content: "";
    border-bottom: 5px solid #f1a706;
    width: 52px;
    display: block;
    margin: 20px auto;
  }
  #aboutus,
  #team,
  #blog {
    text-align: center;
  }
  section p.ringkasan {
    font-style: italic;
    font-size: 18px;
    color: #ababab;
    text-align: center;
  }

  section p.ringkasanteam{
    font-style: italic;
    font-size: 18px;
    color: #ababab;
    text-align: center;
  }

  section .konten-isi p {
    font-style: normal;
  }
  nav.putih {
    background-color: #fff;
  }
  nav.putih .tombol-menu .garis {
    background-color: #333;
  }
  nav.putih ul li a {
    color: #333;
  }
  nav .logo img.hitam {
    display: none;
  }
  section.abuabu {
    background-color: #f5f6f6;
  }
  .support,
  .tim,
  .blog {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .support h6,
  .tim h6 {
    margin: 0px;
    margin-top: 20px;
    padding: 0px;
    font-size: 18px;
    font-weight: bold;
  }
  .support img {
    width: 50px;
  }
  .support div,
  .tim div {
    text-align: center;
    width: 26%;
  }
  section#list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    padding: 10px 0px 10px 0px;
  }
  section#list div {
    padding: 10px;
  }
  section#list div img {
    height: 100px;
    border-radius: 5px;
  }
  section#list div img:hover {
    transition: all 0.2s ease-in-out;
    transform: scale(1.1);
  }
  section.quote {
    background: url("asset/background-bromo.jpg") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 20px;
    font-style: italic;
    padding: 100px;
  }
  section.quote .layar-dalam p {
    display: inline;
    background: url("asset/quote-icon.png") no-repeat;
    padding: 40px;
  }
  .tim img {
    width: 80%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
  }
  .blog .area {
    width: 47%;
    box-shadow: 0px -10px 30px #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .blog div.area div {
    width: 50%;
  }
  .blog .area .gambar {
    border-radius: 5px 0px 0px 5px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
  }
  .blog .area .text article {
    padding: 40px;
  }
  .blog .area .text article h4 {
    margin: 0px;
  }
  .blog .area .text article a {
    color: #333;
    text-decoration: none;
    transition: color 0.5s ease;
  }
  .blog .area .text article a:hover {
    color: #ccc;
  }

  footer {
    padding: 50px 0px 50px 0px;
    background-color: #343a40;
    color: #fff;
  }
  footer .layar-dalam {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  footer .layar-dalam div {
    width: 20%;
  }
  footer .layar-dalam h5 {
    margin-top: 0px;
    font-size: 20px;
    font-weight: bold;
  }
  footer .layar-dalam .copyright {
    width: 100%;
    margin-top: 30px;
    padding-top: 30px;
    border-top: 1px solid #666;
    text-align: center;
  }
  @media screen and (max-width: 991.98px) {
    .layar-dalam {
      width: 90%;
    }
    nav .menu ul {
      display: none;
      margin-top: 60px;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
    nav .menu ul li {
      width: 100%;
      border-bottom: 1px solid #ccc;
      background-color: #fff;
      line-height: 40px;
    }
    nav .menu ul li a {
      color: #333;
    }
    .tombol-menu {
      display: flex;
    }
    .blog .area {
      display: block;
    }
    .blog div.area div {
      width: 100%;
    }
    .blog .area .gambar {
      border-radius: 5px 5px 0px 0px;
      height: 200px;
    }
    .support {
      display: block;
    }
    .support div {
      width: 100%;
      padding-bottom: 30px;
    }
  }



 

  
  /* The "Sign Up" button */
  .button {
    background-color: #e47f21;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    
  }
  

  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .product {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .product img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }
  
  .product h3 {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .product p {
    margin-top: 5
  }

  .button-primary {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  /* Change the width of the three columns to 100%
  (to stack horizontally on small screens) */
  @media only screen and (max-width: 600px) {
    .columns {
      width: 100%;
    }
  }